<!-- <div class="panel panel-default">
  <div class="panel-heading">
    <h3>Contacts</h3>
    <button class="btn btn-success">Add Contact</button>
  </div>
  
</div> -->
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Panel header</h4>
    <div class="btn-group pull-right">
      <a href="#" class="btn btn-success btn-sm">Add Contact</a>
    </div>
  </div>
  <div class="panel-body">
    <p>Panel Content</p>
  </div>
</div>
