<!-- <div class="panel panel-default">
  <div class="panel-heading">
    <h3>Contacts</h3>
    <button class="btn btn-success">Add Contact</button>
  </div>
  
</div> -->
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Contacts</h3>
    <div class="btn-group pull-right">
      <a href="#" class="btn btn-success btn-sm">Add Contact</a>
    </div>
  </div>
  <div class="panel-body">
    <a href="#" class="list-group-item clearfix" *ngFor="let contact of contacts">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ contact.name }}</h4>

      </div>
      <span class="pull-right">
        <img [src]="contact.imageURL" alt="{{ contact.name }}" class="img-responsive" style="max-height: 50px;">
      </span>
    </a>
  </div>
</div>
